<%- model_class = Advert -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @advert.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @advert.description %></dd>
    <dt><strong><%= model_class.human_attribute_name(:active) %>:</strong></dt>
  <dd><%= @advert.active %></dd>
  <br><dt><strong><%= model_class.human_attribute_name(:image) %>:</strong></dt></br>
 <br><%= image_tag @advert.image.url(:medium) %></br>
 <br><%= link_to 'Original Image' , @advert.image.url %></br>
 <br><dt><strong><%= model_class.human_attribute_name(:job_hunt) %>:</strong></dt>
  <dd><%= @advert.job_hunt %></dd>
 <dt><strong><%= model_class.human_attribute_name(:hire) %>:</strong></dt>
  <dd><%= @advert.hire %></dd>
 <dt><strong><%= model_class.human_attribute_name(:buy) %>:</strong></dt>
  <dd><%= @advert.buy %></dd>
 <dt><strong><%= model_class.human_attribute_name(:sell) %>:</strong></dt>
  <dd><%= @advert.sell %></dd>
 <dt><strong><%= model_class.human_attribute_name(:exchange) %>:</strong></dt>
  <dd><%= @advert.exchange %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @advert.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:surname) %>:</strong></dt>
  <dd><%= @advert.surname %></dd>
    <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @advert.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @advert.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mobile) %>:</strong></dt>
  <dd><%= @advert.mobile %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date) %>:</strong></dt>
  <dd><%= @advert.date %></dd>
   <dt><strong><%= model_class.human_attribute_name(:comment) %>:</strong></dt>
  <dd><% @advert.comments.each do |comment| %>
 <%= comment.content %> (<%= comment.name %>)<br />
<% end %>
  </dd>
</dl>
<%= render partial: 'comments/form', locals: {comment: Comment.new(advert_id: @advert.id)} %>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=1900x1000&sensor=true&zoom=14&markers=#{@advert.latitude},#{@advert.longitude}" %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              adverts_path, :class => 'btn btn-info'  %>
     <% if is_my_advert?(@advert) %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_advert_path(@advert), :class => 'btn btn-success' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              advert_path(@advert),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

              <% end %>
</div> 


